<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /rajshreeenterprises/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /rajshreeenterprises/index.html [L]
</IfModule> 